.footer-main{
    background-color: #29549A;
    max-height: 350px;
    padding: 4rem 0rem;
}
.footer-inner{
    border: none !important;
    border-left: 1px solid white !important;
}
.footer-main-one{
    width: 40%; 
    border:none !important; 
    gap: 12px;
}
.footer-main-one .img-logo{
    width: 50%;
    height: 110%;
    overflow: hidden;
}
.img-logo img{
    width:100%;   
    height: 100%;
    object-fit: cover;
    margin-top: 45px;
    object-position: left bottom;
    
}
.footer-main-two{
    width: 20%;
    border: 1px solid black;
   
}
.footer-main-three{
    width: 20%;
    border: 1px solid black;
}
.footer-main-four{
    width: 20%;
    border: 1px solid black;
}
.footer-main-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:#29549A;
    color: #fff;
    font-size: 14px;
}
.footer-main-bottom a{
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
}
.footer-main-bottom div{
    
}
.social-icons {
    display: flex;
    gap: 10px;
  }
.social-icons a {
    color: #fff;
    font-size: 18px;
}
.trademark{
    background-color: #29549A;
    color: white;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    align-items: center;
}
.trademark p{
    margin: 0px;
    padding: 12px 0px;
}

