.navbar a{
 text-decoration: none;
 font-family: "Inter", serif;
 padding: 8px 15px;
 color: #ffff;
}
.navbar{
    justify-content:flex-end;
    display: flex;
    background-color: transparent;
    position: absolute;
    right: 0%;
    padding-right: 1%;
}
