.hollow-btn{
    padding: 9px 20px 9px 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
   color: white;
}
.fill-btn{
    border-radius: 10px;
    padding: 7px 20px 7px 20px;
    border: none;
}
@media (max-width:426px){
    .contactform-main{
        flex-direction: column;
        gap: 40px;
        
    }
    .contactform-right{
        order: 1;
        width: 100% !important;
    }
    .contactform-left{
    
        width: 100% !important;
        order: 2;
    }
}