.hollow-btn{
    padding: 9px 20px 9px 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
   color: white;
   transition: 0.3s ease-in-out;
   &:hover{
    color: white;
    background-color: #29549A;
    border: 1px solid #29549A;
   }
}
.fill-btn{
    border-radius: 10px;
    padding: 7px 20px 7px 20px;
    border: 1px solid transparent;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    &:hover{
        border: 1px solid white;
        background-color: #29549A;
        color: white;
        font-weight: 400;
    }
}
.fill-btn-two{
    border-radius: 10px;
    padding: 7px 20px 7px 20px;
    border: none;
    background-color: #29549A;
    color: white;
    font-weight: 400;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
    &:hover{
        color: black;
        background-color: white;
        border: 1px solid black;
        font-weight: 400;
    }
}
@media (max-width:426px){
    .contactform-main{
        flex-direction: column;
        gap: 40px;
        
    }
    .contactform-right{
        order: 1;
        width: 100% !important;
    }
    .contactform-left{
    
        width: 100% !important;
        order: 2;
    }
}